.collection {
  padding-bottom: 150px;
}

.collection__title {
  color: #151618;
  font-family: Cormorant;
  font-size: 40px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 40px;
}

.collection__list {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.collection__description {
  text-align: center;
  color: #151618;
  font-family: Cormorant;
  font-size: 24px;
  font-weight: 400;
}

.collection__img {
     transition: transform 0.5s ease;
}

.collection__img:hover {
    transform: rotate(10deg);
    transition: transform 0.3s ease;
}