.quote {
  padding-top: 60px;
  padding-bottom: 60px;
}

 @media screen and (min-width: 1240px) {
  .quote {
     padding-top: 150px;
  padding-bottom: 150px;
  }
}

.quote__text {
  color: #151618;
  text-align: center;
  font-family: Open Sans;
  font-size: 16px;
  font-style: italic;
  font-weight: 300;
  max-width: 376px;
  margin: 0 auto;
  background-color: #e9e8e665;
  padding: 5px;
}

 @media screen and (min-width: 1240px) {
  .quote__text {
     font-size: 40px;
     max-width: 800px;
     padding: 15px;
  }
}