.quote {
  padding-top: 150px;
  padding-bottom: 150px;
}

.quote__text {
  color: #151618;
  text-align: center;
  font-family: Cormorant;
  font-size: 40px;
  font-style: italic;
  font-weight: 300;
  max-width: 800px;
  margin: 0 auto;
  background-color: #f7f2eaa5;
  padding: 15px;
}