.hero {
  background-image: url(../../assets/images/hero.webp);
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: cover;
}

.hero__inner {
  min-height: 500px;
  padding-top: 254px;
}

.hero__title {
  color: #fff;
  font-family: Cormorant;
  font-size: 60px;
  font-weight: 400;
  line-height: 100%;
  width: 789.507px;
  margin-bottom: 20px;
}

.hero__text {
  color: #fff;
  font-family: Cormorant;
  font-size: 24px;
  font-weight: 400;
  width: 557.651px;
}