.reviews {
  background: #f7f2eaa5;
  padding-bottom: 60px;
}

.reviews__title {
  color: #151618;
  font-family: Cormorant;
  font-size: 40px;
  font-weight: 400;
  text-align: center;
  padding-top: 60px;
  margin-bottom: 40px;
}

.reviews__text {
  width: 280px;
  color: #151618;
  font-family: "Open Sans";
  font-size: 16px;
  font-style: italic;
  font-weight: 300;
}

.reviews__description {
  color: #151618;
  font-family: Cormorant;
  font-size: 20px;
  font-weight: 600;
  margin-top: 10px;
}

.reviews__list {
  display: flex;
  gap: 26px;
}
