.container {
  padding: 0 20px;
  margin: 0 auto;
  /* outline: 2px solid red; */
}

 @media screen and (max-width: 767px) {
  .container {
    max-width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1240px) {
  .container {
    width: 1240px;
  }
}

