.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

@media screen and (min-width: 1240px) {
  .header__inner{
    padding: 30px 0;
  min-height: 140px;
  }
}

.logo {
  margin-left: 100px;
  width: 39px;
  height: 56px;
}

@media screen and (min-width: 1240px) {
  .logo{
    margin-bottom: 35px;
    margin-left: 0;
    width: 73px;
    height: 105px;
  }
}

@media screen and (min-width: 1240px) {
  .header__burgerBtn {
   display: none;
  }
}



.header__list {
  display: none;
}

@media screen and (min-width: 1240px) {
  .header__list{
    display: flex;
  align-items: center;
  gap: 0 65px;
  margin-left: 8px;
  }
}

.header__list2 {
  display: flex;
  align-items: center;
  gap: 0 20px;
}

.header__actionsLinkSearch {
  margin-left: 15px;
}

@media screen and (min-width: 1240px) {
  .header__actionsLinkSearch{
    margin-left: 80px;
  }
}

.header__link {
  position: relative;
  display: inline-block;
  color: #151618;
  font-family: "Open Sans";
  font-size: 18px;
  font-weight: 400;
}

.header__link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 1px;
  background-color: rgba(94, 135, 79, 0.304);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
}

.header__link:hover::after {
  transform: scaleX(1);
}
