
.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
  min-height: 140px;
}

.logo {
  margin-bottom: 35px;
}

.header__list {
  display: flex;
  align-items: center;
  gap: 0 65px;
  margin-left: 85px;
}

.header__list2 {
  display: flex;
  align-items: center;
  gap: 0 20px;
}

.header__actionsLinkSearch {
  margin-left: 80px;
}

.header__link {
  color: #151618;
  font-family: "Open Sans";
  font-size: 18px;
  font-weight: 400;
}
