.footer{
background-color: #F7F2EA;
height: 593px;
}


.footer__title1,
.footer__title2,
.footer__title4 {
  color: #151618;
  font-family: Cormorant;
  font-size: 24px;
  font-weight: 400;
  padding-top: 100px;
  padding-bottom: 50px;
}

.footer__link1,
.footer__link2 {
  color: #151618;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 300;
}

.footer__list1 {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-right: 213px;
  min-width: 120px;
}
.footer__list2 {
  display: flex;
  flex-direction: column;
  gap: 20px;
  min-width: 140px;
}

.footer__description1 {
  color: #151618;
font-family: "Open Sans";
font-size: 16px;
font-weight: 300;
margin-top: 184px;
}

.footer__alldiv {
  display: flex;
}
.footer__list2pay {
  display: flex;
  gap: 20px;
  margin-top: 100px;
}

.footer__div3 {
  margin-left: 140px;
  padding-top: 179px;
  margin-right: 41px;
}

.footer__text3 {
  width: 269px;
  color: #151618;
font-family: "Open Sans";
font-size: 16px;
font-style: italic;
font-weight: 300;
margin-bottom: 20px;
}

.footer__description3 {
  width: 129px;
  color: #151618;
font-family: "Open Sans";
font-size: 12px;
font-weight: 300;
}

.footer__text4 {
  width: 270px;
  color: #151618;
font-family: "Open Sans";
font-size: 13px;
font-weight: 300;
margin-bottom: 20px;
}

.footer__contacts {
  color:  #151618;
font-family: "Open Sans";
font-size: 13px;
font-weight: 300;
margin-left: 10px;
}

.footer__listcontacts{
  margin-top: 40px;
  margin-left: 40px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.footer__div41 {
  display: flex;
  flex-wrap: wrap;
}
.footer__list5 {
  display: flex;
  gap: 20px;
  align-items: center;
}

.footer__div5 {
  padding-top: 50px;
  padding-left: 115px;
}