.blog {
  padding-top: 150px;
  padding-bottom: 150px;
}

.blog__title {
  text-align: center;
  color: #151618;
  font-family: Cormorant;
  font-size: 40px;
  font-weight: 400;
  margin-bottom: 60px;
}

.blog__list {
  display: flex;
  flex-wrap: wrap;
  gap: 58px;
}

.blog__item {
  display: flex;
}

.blog__div {
  margin-left: 20px;
}

.blog__img {
  width: 270px;
  height: 180px;
  object-fit: cover;
}

.blog__smalltitle {
  width: 252px;
  color: #151618;
  font-family: Cormorant;
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 10px;
  min-height: 86px;
}

.blog__description {
  color: #151618;
  font-family: "Open Sans";
  font-size: 13px;
  font-weight: 300;
  display: flex;
}

.read__more {
  display: flex;
  margin-top: 48px;
}

.blog__more {
  color: #151618;
  font-family: "Open Sans";
  font-size: 13px;
  font-weight: 300;
  margin-right: 8px;
  margin-top: 8px;
}

.blog__icon {
  width: 5px;
  height: 10px;
  margin-top: 10px;
}

.blog__btn {
  margin: 0 auto;
  display: block;
  border: 1px solid #151618;
background: #FFF;
color: #151618;
font-family: "Open Sans";
font-size: 20px;
font-weight: 300;
padding: 12px 41px;
margin-top: 60px;
transition: background-color 0.25s ease, border-color 0.25s ease;
}
.blog__btn:hover {
  background-color: #faf9f7; 
  border-color: #bfbebb;     
}