.priorities {
  padding-top: 100px;
  padding-bottom: 100px;
}

.priorities__title {
  color: #151618;
font-family: Cormorant;
font-size: 40px;
font-weight: 400;
text-align: center;
margin-bottom: 60px;
}
.priorities__list {
  justify-content: center;
  display: flex;
  gap: 49px;
}

.priorities__name {
  color: #151618;
font-family: "Open Sans";
font-size: 30px;
font-weight: 300;
}

.priorities__text {
  color: #151618;
font-family: "Open Sans";
font-size: 20px;
font-weight: 600;
margin-top: 10px;
margin-bottom: 40px;
}

.priorities__item {
text-align: center;
}